  {{#each articles}}

        <div class="card medium z-depth-5" data-id="{{this._id}}">
            <div class="card-image">
              <img src="{{this.img}}">
              <span class="card-title"><a href="{{this.link}}">{{this.title}}</a></span>
            </div>
            <div class="card-content">
                <p>Summary: {{this.summary}}</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn-large comment-btn modal-trigger" href="#comment" data-id="{{this._id}}">Comment</a>
            </div>
        </div>

  {{/each}}

  {{> modal}}